# Лекция №4. Продолжаем работать с pandas: агрегация

Содержание:

1. Объединяем таблички
2. Агрегация
3. Строим графики

In [ ]:
import pandas as pd

<br><br>

## 1. Объединяем таблички

In [ ]:
a = pd.DataFrame(columns=['col1', 'col2'])
a.loc[len(a)] = [0, 5]
a.loc[len(a)] = [1, 3]
a.loc[len(a)] = [4, 8]


b = pd.DataFrame(columns=['col1', 'col2'])
b.loc[len(b)] = [2, 2]
b.loc[len(b)] = [6, 9]
b.loc[len(b)] = [1, 4]


c = pd.DataFrame(columns=['col1', 'col2'])
c.loc[len(c)] = [8, 99]
c.loc[len(c)] = [6, 2]

In [ ]:
pd.concat([a,b,c], ignore_index=True)

In [ ]:
titanic_data = pd.read_csv('titanic_data.csv')
titanic_surv = pd.read_csv('titanic_surv.csv')

In [ ]:
titanic_data

In [ ]:
titanic_surv

Как объеденить? Наивный способ:

In [ ]:
titanic_surv['Survived']

In [ ]:
titanic_data['Survived'] = titanic_surv['Survived']

In [ ]:
titanic_data.head()

**Есть нюансы**

In [ ]:
table = pd.DataFrame(columns=['name', 'birthdate'])
table.loc[len(table)] = ['Vasya', '2000-12-12']
table.loc[len(table)] = ['Zhenya', '2000-01-29']
table.loc[len(table)] = ['Sasha', '2000-03-19']

table2 = pd.DataFrame(columns=['height'])
table2.loc[len(table2)] = ['175']
table2.loc[len(table2)] = ['170']
table2.loc[len(table2)] = ['180']

In [ ]:
table

In [ ]:
table2

In [ ]:
table2.index = [2,1,0]

In [ ]:
table2

In [ ]:
table['height'] = table2['height']

In [ ]:
table

In [ ]:
table.index = ['a', 'b', 'c']

In [ ]:
table['height'] = table2['height']

In [ ]:
table

**Но что если:**

* хотим присоединить не одну колонку, а таблицу из множества колонок?
* что если число строк разное?

На помощь придёт `pd.merge`

In [ ]:
table = pd.DataFrame(columns=['name', 'birthdate'])
table.loc[len(table)] = ['Vasya', '2000-12-12']
table.loc[len(table)] = ['Zhenya', '2000-01-29']
table.loc[len(table)] = ['Sasha', '2000-03-19']

table2 = pd.DataFrame(columns=['name', 'height', 'weight'])
table2.loc[len(table2)] = ['Sasha', 175, 50]
table2.loc[len(table2)] = ['Vasya', 170, 52]
table2.loc[len(table2)] = ['Zhenya', 180, 65]

In [ ]:
table

In [ ]:
table2

In [ ]:
pd.merge(table, table2, on='name')

In [ ]:
pd.merge(table, table2, left_index=True, right_index=True)

При совпадающих колонках - появляется префикс

Итого:

* `pd.merge(df1, df2, left_index=True, right_index=True)` - соединяем по индексам обеих таблиц
* `pd.merge(df1, df2, left_on='left_col', right_on='right_col')` - соединяем по колонке `left_col` таблицы `df1` и по колонке `right_col` таблицы `df2`
* `pd.merge(df1, df2, on='common_col')` - соединяем по общему столбцу
* `pd.merge(df1, df2, on=['common_col_1', 'common_col_2'])` - можно по набору столбцов

<br><br>
**Что если значения разные?**

In [ ]:
table = pd.DataFrame(columns=['name', 'birthdate'])
table.loc[len(table)] = ['Vasya', '2000-12-12']
table.loc[len(table)] = ['Zhenya', '2000-01-29']
table.loc[len(table)] = ['Sasha', '2000-03-19']
table.loc[len(table)] = ['Vovan', '2001-08-08']

table2 = pd.DataFrame(columns=['name', 'height', 'weight'])
table2.loc[len(table2)] = ['Sasha', 175, 50]
table2.loc[len(table2)] = ['Vasya', 170, 52]
table2.loc[len(table2)] = ['Zhenya', 180, 65]
table2.loc[len(table2)] = ['Kostyan', 190, 100]

In [ ]:
pd.merge(table, table2, on='name', how='inner')

In [ ]:
pd.merge(table, table2, on='name', how='outer')

In [ ]:
pd.merge(table, table2, on='name', how='left')

In [ ]:
pd.merge(table, table2, on='name', how='right')

#### Схема

![](https://cdn.softwaretestinghelp.com/wp-content/qa/uploads/2019/05/Capture-1.jpg)

**А что если будут повторы?**

In [ ]:
table = pd.DataFrame(columns=['name', 'birthdate'])
table.loc[len(table)] = ['Vasya', '2000-12-12']
table.loc[len(table)] = ['Zhenya', '2000-01-29']
table.loc[len(table)] = ['Sasha', '2000-03-19']
table.loc[len(table)] = ['Sasha', '2001-08-08']

table2 = pd.DataFrame(columns=['name', 'height', 'weight'])
table2.loc[len(table2)] = ['Sasha', 175, 50]
table2.loc[len(table2)] = ['Vasya', 170, 52]
table2.loc[len(table2)] = ['Zhenya', 180, 65]
table2.loc[len(table2)] = ['Sasha', 190, 100]

In [ ]:
pd.merge(table, table2, on='name', how='inner')

### Можно делать и так

In [ ]:
table = pd.DataFrame(columns=['name', 'birthdate'])
table.loc[len(table)] = ['Vasya', '2000-12-12']
table.loc[len(table)] = ['Zhenya', '2000-01-29']
table.loc[len(table)] = ['Sasha', '2000-03-19']
table.loc[len(table)] = ['Vovan', '2001-08-08']

table2 = pd.DataFrame(columns=['name', 'height'])
table2.loc[len(table2)] = ['Sasha', 175]
table2.loc[len(table2)] = ['Vasya', 170]
table2.loc[len(table2)] = ['Zhenya', 180]
table2.loc[len(table2)] = ['Kostyan', 190]


table3 = pd.DataFrame(columns=['name', 'weight'])
table3.loc[len(table3)] = ['Sasha', 50]
table3.loc[len(table3)] = ['Vasya', 52]
table3.loc[len(table3)] = ['Zhenya', 65]
table3.loc[len(table3)] = ['Kostyan', 100]

In [ ]:
table

In [ ]:
table2

In [ ]:
table.merge(table2, on='name')

In [ ]:
table.merge(table2, on='name').merge(table3, on='name')

**Что знаем и умеем?**

* Умеем объединять таблички
* Объедиение через `pd.concat`
* Обдъединение через функцию `pd.merge(df1, df2)`
* Обдъединение через метод `df1.merge(df2)`
* Различные типы объединений. Аргумент `how` у `pd.merge`.
* Объединение по индекса, по общей колонке, по колонкам

<br><br>

## 2. Агрегация данных

#### 2.1 groupby

In [ ]:
titanic_data = pd.read_csv('titanic_data.csv')
titanic_surv = pd.read_csv('titanic_surv.csv')

In [ ]:
titanic_data['Survived'] = titanic_surv['Survived']

In [ ]:
titanic_data[titanic_data['Pclass'] == 1]['Survived'].mean()

In [ ]:
titanic_data[titanic_data['Pclass'] == 2]['Survived'].mean()

In [ ]:
titanic_data[titanic_data['Pclass'] == 3]['Survived'].mean()

In [ ]:
titanic_data[titanic_data['Pclass'] == 1][['Pclass', 'Survived']].mean()

In [ ]:
pd.concat([titanic_data[titanic_data['Pclass'] == 1][['Pclass', 'Survived']].mean(),
           titanic_data[titanic_data['Pclass'] == 2][['Pclass', 'Survived']].mean(),
           titanic_data[titanic_data['Pclass'] == 3][['Pclass', 'Survived']].mean()], axis=1)

In [ ]:
titanic_data[['Pclass', 'Survived']].groupby('Pclass', as_index=False).mean()

In [ ]:
titanic_data[['Sex', 'Survived']].groupby('Sex', as_index=False).mean()

In [ ]:
titanic_data[['Pclass', 'Sex', 'Survived']].groupby(['Pclass', 'Sex'], as_index=False).mean()

In [ ]:
titanic_data[['Pclass', 'Survived']].groupby('Pclass').agg(['mean', 'std'])

In [ ]:
titanic_data[['Pclass', 'Cabin']].groupby('Pclass').agg(['size', 'count'])

In [ ]:
temp = titanic_data[['Pclass', 'Survived']].groupby('Pclass').agg(['mean', 'std'])

In [ ]:
temp.loc[:, ('Survived', 'mean')]

Посмотрим поближе

In [ ]:
df = pd.DataFrame(columns=['Класс', 'Имя', 'Литра', 'Физра'])

df.loc[len(df),:] = ['5 А', 'Вася', 4, 5]
df.loc[len(df),:] = ['5 А', 'Женя', 5, 3]
df.loc[len(df),:] = ['5 Б', 'Юля', 4, 3]
df.loc[len(df),:] = ['5 Б', 'Лев', 3, 4]
df.loc[len(df),:] = ['5 Б', 'Катя', 5, 5]

In [ ]:
df

In [ ]:
def custom_func(gr_df):
    # return sorted(gr_df, reverse=True)[1]
    return sum(gr_df) / len(gr_df)

In [ ]:
df[['Класс', 'Литра', 'Физра']].groupby(['Класс']).agg(custom_func)

1. Разбили датафрейм на два (5A и 5Б)
2. В каждом датафрейме к каждому столбцу применили функцию `custom_func`
3. Вывели результат

#### 2.2 apply

Можно применять функции построчно/постолбцово

In [ ]:
df

In [ ]:
df.apply(lambda x: (x['Литра']+x['Физра'])/2, axis=1)

In [ ]:
def calculate_litra_fizra_avg(row):
    return (row['Литра']+row['Физра'])/2

In [ ]:
df['avg'] = df.apply(calculate_litra_fizra_avg, axis=1)

In [ ]:
df

1. Для каждой строчки применили функцию `calculate_litra_fizra_avg`, которая считает средний балл по двум предметам
2. Результат вставили в новый столбец

Можно применять к строкам

In [ ]:
df = pd.DataFrame(columns=['Класс', 'Имя', 'Литра', 'Физра'])

df.loc[len(df),:] = ['5 А', 'Вася', 4, 5]
df.loc[len(df),:] = ['5 А', 'Женя', 5, 3]
df.loc[len(df),:] = ['5 Б', 'Юля', 4, 3]
df.loc[len(df),:] = ['5 Б', 'Лев', 3, 4]
df.loc[len(df),:] = ['5 Б', 'Катя', 5, 5]

In [ ]:
df.T

In [ ]:
df.T.apply(calculate_litra_fizra_avg, axis=0)

*Для любителей:* существует ещё `df.applymap` - позволяет применять заданную функцию поэлементно. Работает так же. Поэкспериментируйте сами. См. документацию или примеры в интернете, если не получается. Ну или в чате спрашивайте.

#### 2.3 groupby-apply

А если хотим применить функцию к группе целиком?

In [ ]:
df = pd.DataFrame(columns=['Класс', 'Имя', 'Литра', 'Физра'])

df.loc[len(df),:] = ['5 А', 'Вася', 4, 5]
df.loc[len(df),:] = ['5 А', 'Женя', 5, 3]
df.loc[len(df),:] = ['5 Б', 'Юля', 4, 3]
df.loc[len(df),:] = ['5 Б', 'Лев', 3, 4]
df.loc[len(df),:] = ['5 Б', 'Катя', 5, 5]

In [ ]:
df

In [ ]:
def all_classes_mean(group):
    return group[['Литра', 'Физра']].values.mean()

In [ ]:
df[['Класс', 'Литра', 'Физра']].groupby(['Класс']).apply(all_classes_mean)

1. Разбили датафрейм на два (5A и 5Б)
2. К датафрейму каждой группы применили `all_classes_mean` - подсчитали среднее по всем ученикам и по всем предметам
3. Вывели результат

<br><br>

Всё это удобно комбинировать с мерджами.

Давайте подсчитаем, сколько заплатил каждый пассажир титаника за билет по сравнению со средней ценой в его классе

In [ ]:
titanic_data

In [ ]:
titanic_data[['Pclass', 'Fare']].groupby('Pclass', as_index=False).mean()

In [ ]:
mean_class_fare = titanic_data[['Pclass', 'Fare']].groupby('Pclass', as_index=False).mean()

In [ ]:
mean_class_fare = mean_class_fare.rename(columns={'Fare': 'Mean_Class_Fare'})

In [ ]:
mean_class_fare

In [ ]:
result = titanic_data.merge(mean_class_fare, left_on='Pclass', right_on='Pclass')

In [ ]:
result['Mean_Class_Fare'] / result['Fare'] * 100

In [ ]:
result['Overpay'] = (result['Fare'] / result['Mean_Class_Fare']) * 100

In [ ]:
result

**Что знаем и умеем?**

* Усвоили `groupby`. 
    * Умеем разбить таблицу по категории и получить аггрегированную информацию
    * Умеем применять встроенные функции аггрегации: `mean`, `std`, `min`, `max`, `count`, `size`, ...
    * Умеем применять свои собственные функции аггрегации
* Усвоили `apply`. Применяем функции (в том числе собственные) к таблице построчно/постолбцово
* Усвоили `groupby.apply`. При агрегации применяем функции к целым подтаблицам (группам)

<br><br>
## 3. Строим графики

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
plt.hist(result['Overpay'])
plt.show()

Примеры того, что можно делать с помощью библиотеки, можно посмотреть здесь:

* https://matplotlib.org/gallery/index.html
    
    
Я покажу пару примеров, и их достаточно для случаев, когда надо быстро хоть что-нибудь нарисовать. Но будет лучше, если вы самостоятельно прочитаете основы
* https://matplotlib.org/tutorials/index.html


Есть и другие библиотеки, но они почти все на основе матплотлиба, так что его знать надо. Пример расширения возможностей: [seaborn](https://seaborn.pydata.org/)

In [ ]:
plt.plot([1,2,3,4], [1,4,9,16])
plt.show()

In [ ]:
plt.plot([1,2,3,4], [1,4,9,16])
plt.xlabel('some x label name')
plt.ylabel('some y label name')
plt.title('My diagramm')
plt.show()

In [ ]:
x = list(range(-100,100))
y = list(map(lambda t: t**2, x))

In [ ]:
plt.plot(x,y)
plt.xlabel('some x label name')
plt.ylabel('some y label name')
plt.title('My diagramm')
plt.show()

In [ ]:
plt.plot(x, y, 'ro')
plt.axis([0, 10, 0, 100])
plt.show()

In [ ]:
def f(t):
    return np.exp(-t) * np.cos(2*np.pi*t)

t1 = np.arange(0.0, 5.0, 0.1)
t2 = np.arange(0.0, 5.0, 0.02)

plt.figure(figsize=(15,5))
plt.subplot(212)
plt.plot(t1, f(t1), 'bo', t2, f(t2), 'k')

plt.subplot(211)
plt.plot(t2, np.cos(2*np.pi*t2), 'r--')
plt.show()

In [ ]:
plt.scatter(titanic_data['Fare'], titanic_data['Age'])

**Что знаем и умеем?**

* Усвоили как рисовать простейшие графики
    * график функции по точкам
    * гистограмма
    * диаграма рассеивания
* Умеем подписать оси, дать заголовок графику, заменить цвета
* Умеем нарисовать несколько графиков в одном